# Corona virus vaccine NLP project, part 4: EDA on Tokenized data

## STEP1: Importing the necessary packages

In [130]:
import pandas as pd

In [1]:
import os

## STEP2: Uploading the dataset

In [131]:
data_dtm = pd.read_csv(r'C:\Users\smart\Dropbox\22-Winter21\CIND 820\code\March3\data\3_data_dtm.csv', index_col = None)
data_dtm.head()

,Unnamed: 0,aa,aany,abeing,able,abou,aboujampjs,abroad,absolute,acceptancemore,...,york,youll,youmore,young,younger,youre,youve,zealots,zeman,zip
0,Canada,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,USA,3,1,1,1,1,1,0,1,1,...,0,1,0,1,2,1,4,1,0,3
2,UK,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,2,4,0,0,0
3,Jamaica,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,South Africa,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [132]:
data_dtm.rename(columns = {'Unnamed: 0':'Index_column'}, inplace = True)
data_dtm.head()

,Index_column,aa,aany,abeing,able,abou,aboujampjs,abroad,absolute,acceptancemore,...,york,youll,youmore,young,younger,youre,youve,zealots,zeman,zip
0,Canada,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,USA,3,1,1,1,1,1,0,1,1,...,0,1,0,1,2,1,4,1,0,3
2,UK,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,2,4,0,0,0
3,Jamaica,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,South Africa,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [133]:
data_dtm_2 = data_dtm.set_index('Index_column')
data_dtm_2.head()

,aa,aany,abeing,able,abou,aboujampjs,abroad,absolute,acceptancemore,access,...,york,youll,youmore,young,younger,youre,youve,zealots,zeman,zip
Index_column,,,,,,,,,,,,,,,,,,,,,
Canada,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
USA,3,1,1,1,1,1,0,1,1,3,...,0,1,0,1,2,1,4,1,0,3
UK,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,2,4,0,0,0
Jamaica,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
South Africa,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### check top 5 countries with most tweets

In [134]:
tweets_per_country = pd.read_csv(r'C:\Users\smart\Dropbox\22-Winter21\CIND 820\code\March3\data\2_tweets_per_country.csv', index_col = None)
tweets_per_country.rename(columns = {'Unnamed: 0':'countries_list', 'country' : 'number_of_tweets'}, inplace = True)
tweets_per_country.head(5)

  countries_list  number_of_tweets
0            USA               619
1             UK               140
2         Canada                43
3      Australia                22
4    New Zealand                14

In [135]:
tweets_per_country.sort_values(by='number_of_tweets', ascending = False )

            countries_list  number_of_tweets
0                      USA               619
1                       UK               140
2                   Canada                43
3                Australia                22
4              New Zealand                14
5             South Africa                13
6                    India                10
7                    Italy                 7
8                  Ireland                 6
9                  Nigeria                 5
10                 Belgium                 5
11                  Mexico                 5
14                  Israel                 4
16                   Spain                 4
13                   Ghana                 4
12                  Greece                 4
15                  France                 4
17                   Qatar                 3
18                 Germany                 3
19                   Chile                 3
20                     UAE                 3
21               Singapore                 3
23             Philippines                 3
24               Venezuela                 3
25                   Japan                 3
22                   Kenya                 3
31                Malaysia                 2
35             Puerto Rico                 2
34                  Uganda                 2
33                 Lebanon                 2
32            Saudi Arabia                 2
30                 Finland                 2
29             Switzerland                 2
27                  Brazil                 2
26                    Oman                 2
28             Netherlands                 2
48           CÃ´te d'Ivoire                 1
58              Costa Rica                 1
57                Mongolia                 1
56                   Malta                 1
55                    Fiji                 1
54                 Austria                 1
53                  Poland                 1
52                 Somalia                 1
51                Zimbabwe                 1
50               Argentina                 1
49               Guatemala                 1
46             South Korea                 1
47               Hong Kong                 1
45                Colombia                 1
44  Svalbard and Jan Mayen                 1
43               Nicaragua                 1
42                 Ecuador                 1
41               Indonesia                 1
40      Dominican Republic                 1
39                 Jamaica                 1
38                   Nepal                 1
37                  Rwanda                 1
36              Rio Grande                 1
59                    Peru                 1

## STEP3: Exploratory Data Analysis (EDA)

## Most Common Words

In [139]:
data_dtm_2_T = data_dtm_2.transpose()
print(data_dtm_2_T.shape)
data_dtm_2_T.head()

(1452, 60)

Index_column,Canada,USA,UK,Jamaica,South Africa,Australia,Philippines,Netherlands,Venezuela,New Zealand,...,Ireland,Hong Kong,CÃ´te d'Ivoire,Uganda,Colombia,Costa Rica,Indonesia,Guatemala,Austria,Rwanda
aa,0,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
aany,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
abeing,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
able,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
abou,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Find the top words tweeted in each country

In [140]:
dict_all = {}
for c in data_dtm_2_T.columns:
    top = data_dtm_2_T[c].sort_values(ascending=False).head(10)
    dict_all[c]= list(zip(top.index, top.values))

dict_all

{'Canada': [('vaccine', 32),
  ('johnson', 14),
  ('amp', 11),
  ('fauci', 6),
  ('news', 6),
  ('pfizer', 6),
  ('coronavirus', 6),
  ('shot', 5),
  ('million', 5),
  ('dr', 4)],
 'USA': [('vaccine', 412),
  ('johnson', 218),
  ('amp', 143),
  ('fauci', 87),
  ('panel', 87),
  ('new', 75),
  ('coronavirus', 68),
  ('cases', 67),
  ('onedose', 66),
  ('endorsed', 64)],
 'UK': [('vaccine', 80),
  ('coronavirus', 41),
  ('pfizer', 35),
  ('people', 34),
  ('update', 29),
  ('feb', 28),
  ('received', 27),
  ('million', 26),
  ('reactions', 19),
  ('effects', 19)],
 'Jamaica': [('development', 1),
  ('coronavirus', 1),
  ('work', 1),
  ('says', 1),
  ('american', 1),
  ('pan', 1),
  ('paho', 1),
  ('health', 1),
  ('advanced', 1),
  ('organization', 1)],
 'South Africa': [('vaccine', 10),
  ('west', 6),
  ('million', 6),
  ('doses', 4),
  ('delivery', 4),
  ('expects', 4),
  ('tuesday', 4),
  ('african', 4),
  ('nigeria', 3),
  ('country', 3)],
 'Australia': [('vaccine', 17),
  ('novavax', 5),
  ('trial', 4),
  ('people', 4),
  ('administered', 3),
  ('vic', 3),
  ('million', 3),
  ('does', 3),
  ('britain', 2),
  ('fear', 2)],
 'Philippines': [('vaccine', 2),
  ('cou', 1),
  ('amp', 1),
  ('city', 1),
  ('look', 1),
  ('cleared', 1),
  ('lung', 1),
  ('quezon', 1),
  ('warns', 1),
  ('philippines', 1)],
 'Netherlands': [('johnson', 2),
  ('panel', 2),
  ('control', 1),
  ('cdc', 1),
  ('guidance', 1),
  ('using', 1),
  ('vote', 1),
  ('new', 1),
  ('amp', 1),
  ('centers', 1)],
 'Venezuela': [('vaccine', 3),
  ('johnsons', 1),
  ('dr', 1),
  ('william', 1),
  ('cleared', 1),
  ('making', 1),
  ('infectiousdiseases', 1),
  ('americans', 1),
  ('amp', 1),
  ('shot', 1)],
 'New Zealand': [('dhb', 11),
  ('staff', 8),
  ('vaccine', 7),
  ('utterly', 6),
  ('say', 6),
  ('emails', 6),
  ('priority', 6),
  ('got', 6),
  ('vaccines', 6),
  ('newshub', 6)],
 'Ecuador': [('tracker', 1),
  ('times', 1),
  ('latest', 1),
  ('updates', 1),
  ('york', 1),
  ('vaccine', 1),
  ('new', 1),
  ('fell', 0),
  ('fears', 0),
  ('feb', 0)],
 'India': [('vaccine', 9),
  ('covid', 3),
  ('coronavirus', 3),
  ('johnson', 3),
  ('need', 2),
  ('covidvaccine', 2),
  ('control', 2),
  ('million', 2),
  ('dose', 2),
  ('prevention', 2)],
 'Dominican Republic': [('million', 1),
  ('data', 1),
  ('united', 1),
  ('people', 1),
  ('vaccine', 1),
  ('shot', 1),
  ('showed', 1),
  ('kingdom', 1),
  ('received', 1),
  ('zip', 0)],
 'Malaysia': [('vaccine', 2),
  ('million', 2),
  ('matt', 1),
  ('uk', 1),
  ('dose', 1),
  ('says', 1),
  ('people', 1),
  ('hancock', 1),
  ('coronavirus', 1),
  ('britain', 1)],
 'Mongolia': [('anthony', 1),
  ('expert', 1),
  ('dr', 1),
  ('fauci', 1),
  ('approved', 1),
  ('americans', 1),
  ('vaccine', 1),
  ('urged', 1),
  ('infectiousdiseases', 1),
  ('zip', 0)],
 'France': [('vaccine', 3),
  ('fauci', 2),
  ('prevention', 1),
  ('vote', 1),
  ('forecasting', 1),
  ('unanimously', 1),
  ('su', 1),
  ('control', 1),
  ('warns', 1),
  ('begin', 1)],
 'Puerto Rico': [('coronavirus', 1),
  ('administered', 1),
  ('county', 1),
  ('shots', 1),
  ('stolen', 1),
  ('offices', 1),
  ('children', 1),
  ('wrongly', 1),
  ('people', 1),
  ('doctors', 1)],
 'Mexico': [('johnson', 4),
  ('amp', 3),
  ('panel', 2),
  ('disease', 2),
  ('advisory', 2),
  ('vaccine', 2),
  ('said', 2),
  ('lockdown', 1),
  ('surge', 1),
  ('raising', 1)],
 'Germany': [('urged', 2),
  ('approved', 2),
  ('fauci', 2),
  ('anthony', 2),
  ('americans', 2),
  ('infectiousdiseases', 2),
  ('dr', 2),
  ('vaccine', 2),
  ('expert', 2),
  ('panel', 1)],
 'Italy': [('vaccine', 7),
  ('johnson', 4),
  ('received', 3),
  ('people', 3),
  ('million', 3),
  ('britain', 2),
  ('amp', 2),
  ('news', 2),
  ('update', 2),
  ('feb', 2)],
 'Israel': [('vaccine', 3),
  ('million', 2),
  ('fauci', 2),
  ('begin', 1),
  ('infectiousdiseases', 1),
  ('complacency', 1),
  ('plan', 1),
  ('urged', 1),
  ('americans', 1),
  ('dr', 1)],
 'Japan': [('vaccine', 4),
  ('supply', 2),
  ('increased', 2),
  ('likely', 2),
  ('effects', 1),
  ('britain', 1),
  ('flu', 1),
  ('unaware', 1),
  ('significantly', 1),
  ('people', 1)],
 'Chile': [('vaccine', 3),
  ('fauci', 2),
  ('johnson', 2),
  ('control', 1),
  ('begin', 1),
  ('endorsed', 1),
  ('infectiousdiseases', 1),
  ('americans', 1),
  ('amp', 1),
  ('new', 1)],
 'Brazil': [('vaccine', 2),
  ('approved', 2),
  ('fda', 1),
  ('infectiousdiseases', 1),
  ('johnson', 1),
  ('johnsons', 1),
  ('available', 1),
  ('just', 1),
  ('fauci', 1),
  ('anthony', 1)],
 'Svalbard and Jan Mayen': [('disease', 1),
  ('centers', 1),
  ('covid', 1),
  ('vote', 1),
  ('amp', 1),
  ('control', 1),
  ('unanimously', 1),
  ('recommend', 1),
  ('advisory', 1),
  ('johnson', 1)],
 'UAE': [('johnson', 3),
  ('vaccine', 2),
  ('doses', 1),
  ('major', 1),
  ('fight', 1),
  ('amp', 1),
  ('ampamp', 1),
  ('marked', 1),
  ('unanimously', 1),
  ('new', 1)],
 'Belgium': [('vaccine', 5),
  ('johnson', 3),
  ('use', 2),
  ('amp', 2),
  ('just', 2),
  ('infections', 1),
  ('philippines', 1),
  ('making', 1),
  ('emergency', 1),
  ('learn', 1)],
 'Greece': [('johnson', 5),
  ('vaccine', 4),
  ('amp', 3),
  ('control', 2),
  ('shot', 2),
  ('panel', 2),
  ('centers', 2),
  ('prevention', 2),
  ('disease', 2),
  ('new', 2)],
 'Oman': [('vaccine', 2),
  ('expert', 1),
  ('urged', 1),
  ('dose', 1),
  ('fauci', 1),
  ('americans', 1),
  ('infectiousdiseases', 1),
  ('million', 1),
  ('anthony', 1),
  ('britain', 1)],
 'Nigeria': [('vaccine', 4),
  ('johnson', 4),
  ('new', 3),
  ('coronavirus', 2),
  ('amp', 2),
  ('panel', 2),
  ('endorsed', 2),
  ('onedose', 2),
  ('option', 1),
  ('says', 1)],
 'Saudi Arabia': [('gives', 1),
  ('safe', 1),
  ('vaccination', 1),
  ('meet', 1),
  ('vaccines', 1),
  ('coro', 1),
  ('epidemiologist', 1),
  ('protection', 1),
  ('incredible', 1),
  ('best', 1)],
 'Nepal': [('president', 1),
  ('vaccine', 1),
  ('watchdog', 1),
  ('czech', 1),
  ('putin', 1),
  ('drug', 1),
  ('eu', 1),
  ('asked', 1),
  ('supply', 1),
  ('reveals', 1)],
 'Rio Grande': [('johnson', 1),
  ('cleared', 1),
  ('amp', 1),
  ('johnsons', 1),
  ('shot', 1),
  ('available', 1),
  ('coronavirus', 1),
  ('vaccine', 1),
  ('making', 1),
  ('just', 1)],
 'South Korea': [('johnson', 2),
  ('prevention', 1),
  ('centers', 1),
  ('vaccine', 1),
  ('amp', 1),
  ('endorsed', 1),
  ('new', 1),
  ('panel', 1),
  ('control', 1),
  ('onedose', 1)],
 'Ghana': [('vaccine', 3),
  ('johnson', 2),
  ('new', 2),
  ('expert', 1),
  ('west', 1),
  ('akufoaddo', 1),
  ('alter', 1),
  ('endorsed', 1),
  ('infectiousdiseases', 1),
  ('americans', 1)],
 'Zimbabwe': [('anthony', 1),
  ('expert', 1),
  ('dr', 1),
  ('fauci', 1),
  ('approved', 1),
  ('americans', 1),
  ('vaccine', 1),
  ('urged', 1),
  ('infectiousdiseases', 1),
  ('zip', 0)],
 'Nicaragua': [('anthony', 1),
  ('expert', 1),
  ('dr', 1),
  ('fauci', 1),
  ('approved', 1),
  ('americans', 1),
  ('vaccine', 1),
  ('urged', 1),
  ('infectiousdiseases', 1),
  ('zip', 0)],
 'Spain': [('fauci', 3),
  ('anthony', 3),
  ('expert', 3),
  ('vaccine', 3),
  ('urged', 3),
  ('infectiousdiseases', 3),
  ('approved', 3),
  ('americans', 3),
  ('dr', 3),
  ('premier', 1)],
 'Peru': [('johnson', 1),
  ('cleared', 1),
  ('amp', 1),
  ('johnsons', 1),
  ('shot', 1),
  ('available', 1),
  ('coronavirus', 1),
  ('vaccine', 1),
  ('making', 1),
  ('just', 1)],
 'Qatar': [('dhb', 2),
  ('staff', 1),
  ('received', 1),
  ('gps', 1),
  ('state', 1),
  ('coronavirus', 1),
  ('utterly', 1),
  ('priority', 1),
  ('say', 1),
  ('reaffirmed', 1)],
 'Finland': [('pfizer', 2),
  ('reactions', 2),
  ('vaccine', 2),
  ('blindness', 1),
  ('americans', 1),
  ('fauci', 1),
  ('infectiousdiseases', 1),
  ('anthony', 1),
  ('urged', 1),
  ('deaths', 1)],
 'Somalia': [('good', 1),
  ('potential', 1),
  ('health', 1),
  ('isnt', 1),
  ('foolproof', 1),
  ('bmi', 1),
  ('obesity', 1),
  ('measur', 1),
  ('said', 1),
  ('factors', 1)],
 'Fiji': [('cases', 1),
  ('new', 1),
  ('bank', 1),
  ('continued', 1),
  ('imposed', 1),
  ('lockdown', 1),
  ('surge', 1),
  ('face', 1),
  ('coronavirus', 1),
  ('west', 1)],
 'Malta': [('raising', 1),
  ('britain', 1),
  ('prospect', 1),
  ('people', 1),
  ('million', 1),
  ('said', 1),
  ('received', 1),
  ('li', 1),
  ('gradual', 1),
  ('vaccine', 1)],
 'Lebanon': [('physician', 1),
  ('measurofficial', 1),
  ('isnt', 1),
  ('foolproof', 1),
  ('far', 1),
  ('dose', 1),
  ('obesity', 1),
  ('factors', 1),
  ('said', 1),
  ('bmi', 1)],
 'Singapore': [('coronavirus', 2),
  ('disease', 2),
  ('vaccine', 2),
  ('expectations', 1),
  ('data', 1),
  ('index', 1),
  ('february', 1),
  ('plant', 1),
  ('plans', 1),
  ('firm', 1)],
 'Switzerland': [('vaccine', 2),
  ('stop', 2),
  ('johnson', 2),
  ('south', 1),
  ('million', 1),
  ('amp', 1),
  ('websitegtthe', 1),
  ('agreement', 1),
  ('ease', 1),
  ('secure', 1)],
 'Kenya': [('johnson', 2),
  ('vaccine', 2),
  ('vaccines', 1),
  ('panel', 1),
  ('million', 1),
  ('effective', 1),
  ('safe', 1),
  ('doses', 1),
  ('pandemic', 1),
  ('jampjs', 1)],
 'Argentina': [('said', 1),
  ('amp', 1),
  ('dr', 1),
  ('sunday', 1),
  ('disease', 1),
  ('infectious', 1),
  ('johnson', 1),
  ('fauci', 1),
  ('official', 1),
  ('approved', 1)],
 'Poland': [('said', 1),
  ('amp', 1),
  ('dr', 1),
  ('sunday', 1),
  ('disease', 1),
  ('infectious', 1),
  ('johnson', 1),
  ('fauci', 1),
  ('official', 1),
  ('approved', 1)],
 'Ireland': [('pfizer', 10),
  ('feb', 5),
  ('blindness', 5),
  ('reactions', 5),
  ('oxford', 5),
  ('reports', 5),
  ('update', 5),
  ('effects', 5),
  ('deaths', 5),
  ('news', 2)],
 'Hong Kong': [('philippines', 1),
  ('coronavirus', 1),
  ('testing', 1),
  ('duterte', 1),
  ('vaccine', 1),
  ('czar', 1),
  ('coordinatorwhilst', 1),
  ('fight', 0),
  ('federal', 0),
  ('feb', 0)],
 "CÃ´te d'Ivoire": [('vaccine', 2),
  ('update', 1),
  ('number', 1),
  ('figures', 1),
  ('daily', 1),
  ('ukas', 1),
  ('feb', 1),
  ('received', 1),
  ('people', 1),
  ('zip', 0)],
 'Uganda': [('begin', 1),
  ('declining', 1),
  ('covid', 1),
  ('february', 1),
  ('amp', 1),
  ('despite', 1),
  ('infections', 1),
  ('fauci', 1),
  ('worldwide', 1),
  ('plateau', 1)],
 'Colombia': [('guidance', 1),
  ('shot', 1),
  ('vote', 1),
  ('panel', 1),
  ('advisory', 1),
  ('jampjs', 1),
  ('cdc', 1),
  ('using', 1),
  ('sunday', 1),
  ('feral', 0)],
 'Costa Rica': [('complacency', 1),
  ('begin', 1),
  ('fauci', 1),
  ('despite', 1),
  ('warns', 1),
  ('vaccine', 1),
  ('cases', 1),
  ('plateau', 1),
  ('fell', 0),
  ('febcoronavirus', 0)],
 'Indonesia': [('vaccinate', 1),
  ('children', 1),
  ('heroic', 1),
  ('bangladesh', 1),
  ('workers', 1),
  ('mea', 1),
  ('midst', 1),
  ('health', 1),
  ('managed', 1),
  ('million', 1)],
 'Guatemala': [('guidance', 1),
  ('shot', 1),
  ('vote', 1),
  ('panel', 1),
  ('advisory', 1),
  ('jampjs', 1),
  ('cdc', 1),
  ('using', 1),
  ('sunday', 1),
  ('feral', 0)],
 'Austria': [('complacency', 1),
  ('begin', 1),
  ('fauci', 1),
  ('despite', 1),
  ('warns', 1),
  ('vaccine', 1),
  ('cases', 1),
  ('plateau', 1),
  ('fell', 0),
  ('febcoronavirus', 0)],
 'Rwanda': [('johnson', 2),
  ('fauci', 1),
  ('says', 1),
  ('amp', 1),
  ('vaccine', 1),
  ('zip', 0),
  ('feel', 0),
  ('feb', 0),
  ('febcoronavirus', 0),
  ('febnot', 0)]}

### Select top 5 countries with most tweets from the Document_Term Matrix (dtm)

In [141]:
top5_list = ['USA','UK','Canada', 'Australia', 'New Zealand']
data_top5_dtm  = data_dtm_2[data_dtm_2.index.isin(top5_list)]
data_top5_dtm

,aa,aany,abeing,able,abou,aboujampjs,abroad,absolute,acceptancemore,access,...,york,youll,youmore,young,younger,youre,youve,zealots,zeman,zip
Index_column,,,,,,,,,,,,,,,,,,,,,
Canada,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
USA,3,1,1,1,1,1,0,1,1,3,...,0,1,0,1,2,1,4,1,0,3
UK,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,2,4,0,0,0
Australia,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
New Zealand,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#### Transpose the DataFrame

In [137]:
data_top5_dtm_T = data_top5_dtm.transpose()
print(data_top5_dtm_T.shape)
data_top5_dtm_T.head()

(1452, 5)

Index_column  Canada  USA  UK  Australia  New Zealand
aa                 0    3   0          0            0
aany               0    1   0          0            0
abeing             0    1   0          0            0
able               0    1   0          0            0
abou               0    1   0          0            0

### Find the top words tweeted in five eyes countries

In [215]:
dict_five = {}
for c in data_top5_dtm_T.columns:
    top = data_top5_dtm_T[c].sort_values(ascending=False).head(20)
    dict_five[c]= list(zip(top.index, top.values))

dict_five

{'Canada': [('vaccine', 32),
  ('johnson', 14),
  ('amp', 11),
  ('fauci', 6),
  ('news', 6),
  ('pfizer', 6),
  ('coronavirus', 6),
  ('shot', 5),
  ('million', 5),
  ('dr', 4),
  ('said', 4),
  ('dose', 4),
  ('johnsons', 4),
  ('cases', 4),
  ('received', 4),
  ('britain', 4),
  ('feb', 4),
  ('plans', 3),
  ('reports', 3),
  ('deaths', 3)],
 'USA': [('vaccine', 412),
  ('johnson', 218),
  ('amp', 143),
  ('fauci', 87),
  ('panel', 87),
  ('new', 75),
  ('coronavirus', 68),
  ('cases', 67),
  ('onedose', 66),
  ('endorsed', 64),
  ('health', 62),
  ('begin', 58),
  ('despite', 56),
  ('warns', 56),
  ('complacency', 56),
  ('plateau', 56),
  ('people', 55),
  ('said', 48),
  ('doses', 46),
  ('medicine', 44)],
 'UK': [('vaccine', 80),
  ('coronavirus', 41),
  ('pfizer', 35),
  ('people', 34),
  ('update', 29),
  ('feb', 28),
  ('received', 27),
  ('million', 26),
  ('reactions', 19),
  ('effects', 19),
  ('deaths', 18),
  ('extremely', 18),
  ('vulnerable', 18),
  ('blindness', 18),
  ('oxford', 17),
  ('reports', 17),
  ('healthcare', 16),
  ('worker', 16),
  ('contacted', 16),
  ('vacc', 16)],
 'Australia': [('vaccine', 17),
  ('novavax', 5),
  ('trial', 4),
  ('people', 4),
  ('administered', 3),
  ('vic', 3),
  ('million', 3),
  ('does', 3),
  ('britain', 2),
  ('fear', 2),
  ('fell', 2),
  ('variants', 2),
  ('rise', 2),
  ('experts', 2),
  ('coronavirus', 2),
  ('indias', 2),
  ('enrolling', 2),
  ('april', 2),
  ('start', 2),
  ('marked', 2)],
 'New Zealand': [('dhb', 11),
  ('staff', 8),
  ('vaccine', 7),
  ('utterly', 6),
  ('say', 6),
  ('emails', 6),
  ('priority', 6),
  ('got', 6),
  ('vaccines', 6),
  ('newshub', 6),
  ('disgusted', 6),
  ('theyre', 6),
  ('gps', 5),
  ('lockdown', 3),
  ('city', 3),
  ('day', 3),
  ('covid', 3),
  ('auckland', 3),
  ('loses', 3),
  ('goff', 3)]}

In [217]:
dict_five_1 = {}

In [218]:
for country, top_words in dict_five.items():
    print(country)
    count_list = []
    for word,count in top_words:
        count_list.append(count)
    print(count_list)
    dict_five_1[country]= count_list
    print('---')

Canada
[32, 14, 11, 6, 6, 6, 6, 5, 5, 4, 4, 4, 4, 4, 4, 4, 4, 3, 3, 3]
---
USA
[412, 218, 143, 87, 87, 75, 68, 67, 66, 64, 62, 58, 56, 56, 56, 56, 55, 48, 46, 44]
---
UK
[80, 41, 35, 34, 29, 28, 27, 26, 19, 19, 18, 18, 18, 18, 17, 17, 16, 16, 16, 16]
---
Australia
[17, 5, 4, 4, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]
---
New Zealand
[11, 8, 7, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 3, 3, 3, 3, 3, 3, 3]
---

In [219]:
dict_five_1

{'Canada': [32, 14, 11, 6, 6, 6, 6, 5, 5, 4, 4, 4, 4, 4, 4, 4, 4, 3, 3, 3],
 'USA': [412,
  218,
  143,
  87,
  87,
  75,
  68,
  67,
  66,
  64,
  62,
  58,
  56,
  56,
  56,
  56,
  55,
  48,
  46,
  44],
 'UK': [80,
  41,
  35,
  34,
  29,
  28,
  27,
  26,
  19,
  19,
  18,
  18,
  18,
  18,
  17,
  17,
  16,
  16,
  16,
  16],
 'Australia': [17, 5, 4, 4, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2],
 'New Zealand': [11, 8, 7, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 3, 3, 3, 3, 3, 3, 3]}

In [220]:
dict_five_2 = {}

In [221]:
for country, top_words in dict_five.items():
    print(country)
    word_list = []
    for word,count in top_words:
        word_list.append(word)
    print(word_list)
    dict_five_2 [country] = word_list
    print('---')

Canada
['vaccine', 'johnson', 'amp', 'fauci', 'news', 'pfizer', 'coronavirus', 'shot', 'million', 'dr', 'said', 'dose', 'johnsons', 'cases', 'received', 'britain', 'feb', 'plans', 'reports', 'deaths']
---
USA
['vaccine', 'johnson', 'amp', 'fauci', 'panel', 'new', 'coronavirus', 'cases', 'onedose', 'endorsed', 'health', 'begin', 'despite', 'warns', 'complacency', 'plateau', 'people', 'said', 'doses', 'medicine']
---
UK
['vaccine', 'coronavirus', 'pfizer', 'people', 'update', 'feb', 'received', 'million', 'reactions', 'effects', 'deaths', 'extremely', 'vulnerable', 'blindness', 'oxford', 'reports', 'healthcare', 'worker', 'contacted', 'vacc']
---
Australia
['vaccine', 'novavax', 'trial', 'people', 'administered', 'vic', 'million', 'does', 'britain', 'fear', 'fell', 'variants', 'rise', 'experts', 'coronavirus', 'indias', 'enrolling', 'april', 'start', 'marked']
---
New Zealand
['dhb', 'staff', 'vaccine', 'utterly', 'say', 'emails', 'priority', 'got', 'vaccines', 'newshub', 'disgusted', 'theyre', 'gps', 'lockdown', 'city', 'day', 'covid', 'auckland', 'loses', 'goff']
---

In [222]:
dict_five_2

{'Canada': ['vaccine',
  'johnson',
  'amp',
  'fauci',
  'news',
  'pfizer',
  'coronavirus',
  'shot',
  'million',
  'dr',
  'said',
  'dose',
  'johnsons',
  'cases',
  'received',
  'britain',
  'feb',
  'plans',
  'reports',
  'deaths'],
 'USA': ['vaccine',
  'johnson',
  'amp',
  'fauci',
  'panel',
  'new',
  'coronavirus',
  'cases',
  'onedose',
  'endorsed',
  'health',
  'begin',
  'despite',
  'warns',
  'complacency',
  'plateau',
  'people',
  'said',
  'doses',
  'medicine'],
 'UK': ['vaccine',
  'coronavirus',
  'pfizer',
  'people',
  'update',
  'feb',
  'received',
  'million',
  'reactions',
  'effects',
  'deaths',
  'extremely',
  'vulnerable',
  'blindness',
  'oxford',
  'reports',
  'healthcare',
  'worker',
  'contacted',
  'vacc'],
 'Australia': ['vaccine',
  'novavax',
  'trial',
  'people',
  'administered',
  'vic',
  'million',
  'does',
  'britain',
  'fear',
  'fell',
  'variants',
  'rise',
  'experts',
  'coronavirus',
  'indias',
  'enrolling',
  'april',
  'start',
  'marked'],
 'New Zealand': ['dhb',
  'staff',
  'vaccine',
  'utterly',
  'say',
  'emails',
  'priority',
  'got',
  'vaccines',
  'newshub',
  'disgusted',
  'theyre',
  'gps',
  'lockdown',
  'city',
  'day',
  'covid',
  'auckland',
  'loses',
  'goff']}

In [223]:
df_dict_five = pd.DataFrame(dict_five)
df_dict_five

,Canada,USA,UK,Australia,New Zealand
0,"(vaccine, 32)","(vaccine, 412)","(vaccine, 80)","(vaccine, 17)","(dhb, 11)"
1,"(johnson, 14)","(johnson, 218)","(coronavirus, 41)","(novavax, 5)","(staff, 8)"
2,"(amp, 11)","(amp, 143)","(pfizer, 35)","(trial, 4)","(vaccine, 7)"
3,"(fauci, 6)","(fauci, 87)","(people, 34)","(people, 4)","(utterly, 6)"
4,"(news, 6)","(panel, 87)","(update, 29)","(administered, 3)","(say, 6)"
5,"(pfizer, 6)","(new, 75)","(feb, 28)","(vic, 3)","(emails, 6)"
6,"(coronavirus, 6)","(coronavirus, 68)","(received, 27)","(million, 3)","(priority, 6)"
7,"(shot, 5)","(cases, 67)","(million, 26)","(does, 3)","(got, 6)"
8,"(million, 5)","(onedose, 66)","(reactions, 19)","(britain, 2)","(vaccines, 6)"
9,"(dr, 4)","(endorsed, 64)","(effects, 19)","(fear, 2)","(newshub, 6)"
10,"(said, 4)","(health, 62)","(deaths, 18)","(fell, 2)","(disgusted, 6)"
11,"(dose, 4)","(begin, 58)","(extremely, 18)","(variants, 2)","(theyre, 6)"
12,"(johnsons, 4)","(despite, 56)","(vulnerable, 18)","(rise, 2)","(gps, 5)"
13,"(cases, 4)","(warns, 56)","(blindness, 18)","(experts, 2)","(lockdown, 3)"
14,"(received, 4)","(complacency, 56)","(oxford, 17)","(coronavirus, 2)","(city, 3)"
15,"(britain, 4)","(plateau, 56)","(reports, 17)","(indias, 2)","(day, 3)"
16,"(feb, 4)","(people, 55)","(healthcare, 16)","(enrolling, 2)","(covid, 3)"
17,"(plans, 3)","(said, 48)","(worker, 16)","(april, 2)","(auckland, 3)"
18,"(reports, 3)","(doses, 46)","(contacted, 16)","(start, 2)","(loses, 3)"
19,"(deaths, 3)","(medicine, 44)","(vacc, 16)","(marked, 2)","(goff, 3)"

#### Prepare the DataFrame for visualization

In [224]:
five_eyes = list(df_dict_five.columns)
five_eyes

['Canada', 'USA', 'UK', 'Australia', 'New Zealand']

In [225]:
dict_Canada = {"count" : dict_five_1['Canada'], "word" : dict_five_2['Canada']}
df_Canada = pd.DataFrame(dict_Canada)
df_Canada

    count         word
0      32      vaccine
1      14      johnson
2      11          amp
3       6        fauci
4       6         news
5       6       pfizer
6       6  coronavirus
7       5         shot
8       5      million
9       4           dr
10      4         said
11      4         dose
12      4     johnsons
13      4        cases
14      4     received
15      4      britain
16      4          feb
17      3        plans
18      3      reports
19      3       deaths

In [226]:
dict_USA = {"count" : dict_five_1['USA'], "word" : dict_five_2['USA']}
df_USA = pd.DataFrame(dict_USA)
df_USA

    count         word
0     412      vaccine
1     218      johnson
2     143          amp
3      87        fauci
4      87        panel
5      75          new
6      68  coronavirus
7      67        cases
8      66      onedose
9      64     endorsed
10     62       health
11     58        begin
12     56      despite
13     56        warns
14     56  complacency
15     56      plateau
16     55       people
17     48         said
18     46        doses
19     44     medicine

In [227]:
dict_UK = {"count" : dict_five_1['UK'], "word" : dict_five_2['UK']}
df_UK = pd.DataFrame(dict_UK)
df_UK

    count         word
0      80      vaccine
1      41  coronavirus
2      35       pfizer
3      34       people
4      29       update
5      28          feb
6      27     received
7      26      million
8      19    reactions
9      19      effects
10     18       deaths
11     18    extremely
12     18   vulnerable
13     18    blindness
14     17       oxford
15     17      reports
16     16   healthcare
17     16       worker
18     16    contacted
19     16         vacc

In [228]:
dict_Australia = {"count" : dict_five_1['Australia'], "word" : dict_five_2['Australia']}
df_Australia = pd.DataFrame(dict_Australia)
df_Australia

    count          word
0      17       vaccine
1       5       novavax
2       4         trial
3       4        people
4       3  administered
5       3           vic
6       3       million
7       3          does
8       2       britain
9       2          fear
10      2          fell
11      2      variants
12      2          rise
13      2       experts
14      2   coronavirus
15      2        indias
16      2     enrolling
17      2         april
18      2         start
19      2        marked

In [229]:
dict_NewZealand = {"count" : dict_five_1['New Zealand'], "word" : dict_five_2['New Zealand']}
df_NewZealand = pd.DataFrame(dict_NewZealand)
df_NewZealand

    count       word
0      11        dhb
1       8      staff
2       7    vaccine
3       6    utterly
4       6        say
5       6     emails
6       6   priority
7       6        got
8       6   vaccines
9       6    newshub
10      6  disgusted
11      6     theyre
12      5        gps
13      3   lockdown
14      3       city
15      3        day
16      3      covid
17      3   auckland
18      3      loses
19      3       goff

In [230]:
df_Canada.to_csv(r'C:\Users\smart\Dropbox\22-Winter21\CIND 820\code\March3\data\4_df_Canada.csv')

In [231]:
df_USA.to_csv(r'C:\Users\smart\Dropbox\22-Winter21\CIND 820\code\March3\data\4_df_USA.csv')

In [232]:
df_UK.to_csv(r'C:\Users\smart\Dropbox\22-Winter21\CIND 820\code\March3\data\4_df_UK.csv')

In [233]:
df_Australia.to_csv(r'C:\Users\smart\Dropbox\22-Winter21\CIND 820\code\March3\data\4_df_Australia.csv')

In [234]:
df_NewZealand.to_csv(r'C:\Users\smart\Dropbox\22-Winter21\CIND 820\code\March3\data\4_df_NewZealand.csv')